button{
  background-color: #043ea7; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  left: 37.5%;
  }
 
  .hover {
    background-color: #043ea7	; 
    color: white; 
    border: 2px solid #043ea7	;
}
.hover:hover{

  background-color: #010a4b	;
  color: white;
  border: 2px solid #010a4b	;
  
}

  img {
    position: absolute;
    top: 0%;
    left: 1%;
    bottom: 100%
    
 }

 a{
  text-decoration: none;

 }